<template>
    <div>
        <div>
            <b-navbar class="shadow-sm p-3 mb-5 bg-white rounded" toggleable="lg" type="light">
                <b-navbar-brand to="/">
                    <img src="@/assets/brand_mike.png" class="d-inline-block align-top pr-2" alt="Mike">
                    Mike Goforth
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item to="/about">About</b-nav-item>
                        <b-nav-item to="/works">Works</b-nav-item>
                        <b-nav-item to="/events">Events</b-nav-item>
                        <b-nav-item to="/resume">Resume</b-nav-item>
                        <b-nav-item to="/contact">Contact</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template v-slot:button-content>
                                Sign In
                            </template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
    </div>
</template>

<script>
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class NavigationBar extends Vue {
        //
    }
</script>

<style scoped>

</style>