<template>
  <div id="app">
    <NavigationBar></NavigationBar>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NavigationBar from './components/NavigationBar/NavigationBar.vue';
import HelloWorld from './components/HelloWorld.vue';


@Component({
  components: {
    NavigationBar,
    HelloWorld,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
